################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsApplication2/.vs/Misenesituation/v15/Server/sqlite3/db.lock

\.vs/
